.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin:0 auto;
    height: 110vh;
    background: rgb(224,202,170);
    background: linear-gradient(360deg, rgba(224,202,170,1) 25%, rgba(255,242,216,1) 53%);
  }
  
.navbar-container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #113946;
}
